body
{
	background-image:
			linear-gradient(transparent 11px, rgba(220,220,200,.8) 12px, transparent 12px),
			linear-gradient(90deg, transparent 11px, rgba(220,220,200,.8) 12px, transparent 12px);
	background-size: 100% 12px, 12px 100%;
}

.drop-down
{
	overflow: hidden;
	height: 0;
	margin-top: 10px;
	transition: height .4s ease;
}